body
{
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
}

.tile {
}

.tile.odd {
    background-color: #808080ff;
}

.tile.even {
    background-color: #ffffff;
}

.tile.player1-territory {
    background-color: #00ffff;
}

.tile.player2-territory {
    background-color: #ff006e;
}

.player1-territory.player2-territory {
    background-color: #b200ff;
}

.tile.player1 {
    background-color: #4800ff;
}

.tile.player2 {
    background-color: #ff0000;
}




