body
{
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
}

.tile {
}

.tile.odd {
    background-color: #808080ff;
}

.tile.even {
    background-color: #ffffff;
}

.tile.player1-territory {
    background-color: #b6ff00;
}

.tile.player2-territory {
    background-color: #ff006e;
}

.tile.player1 {
    background-color: #00ff21;
}

.tile.player2 {
    background-color: #ff0000;
}



